$primary-color: #AAAAAA;
$secondary-color: #FFCE7F;
$background-color: #EAEAEA;
$white-color:#ffffff;


$text-primary-color: #101010;
$text-secondary-color: #838383;

$border-radius: 30px;
$padding: 20px;